<div class="container-fluid" id="main" style="min-height: 100%;">
    <div class="row" style="min-height: 100%;">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="min-height: 100%;">
            <div id="textAreaOuter" class="row glass">
                <div class="col-md-1"></div>
                <div class="col-md-10" id="editor">
                    <h2 id="title">{{ textTitle ? textTitle : "Text" }}</h2>
                    <div #content id="content" [contentEditable]="true" (focus)="switchText()" (blur)="switchText()">{{ text }}</div>
                </div>
            </div>
        </div>
    </div>
</div>